[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gitpython = "*"
requests = "*"
flask = "*"
gunicorn = "*"
request = "*"
simplejson = "*"
flask-sse = "*"

[dev-packages]

[requires]
python_version = "3.6"
