<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{{ config.SITE_NAME }} | Realtime Log Monitor in Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<h1 class="title-text">{{ config.SITE_NAME }}</h1>
<div class="page green">
    <div class="page-container">
        <div id="status" class="red">Disconnected</div>
        <div id="data">
            {% for line in log_buffer %}
                <p>{{ line }}</p>
            {% endfor %}
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script type="text/javascript" src="http://nadir.space:5000/application.js"></script>
<script type=text/javascript>
    {#    var jug = new Juggernaut();#}

    {#    jug.subscribe('logger', function(data) {#}
    {#        $data.append($('<p/>').text(data));#}
    {#        $data.scrollTop($data[0].scrollHeight);#}
    {#    });#}
    var $status = $('#status')
    var $data = $('#data')

    var source = new EventSource('/logger');
    source.addEventListener('message', function (data) {
        $data.append($('<p/>').text(data));
        $data.scrollTop($data[0].scrollHeight);
    });
    source.addEventListener('open', function (e) {
        $status.removeClass('red');
        $status.text('Connected');
        $status.addClass('green');
    });
{#    jug.on('connect', function () {#}
{#        $status.removeClass('red');#}
{#        $status.text('Connected');#}
{#        $status.addClass('green');#}
{#    });#}

    // always align the scrollbar to the bottom of the data div
    $data.scrollTop($data[0].scrollHeight);
</script>
</html>
