<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>SKYNET</title>
{#    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">#}
    <link rel="stylesheet" href="http://88.193.139.35/skynet.css">

</head>
<body>
<h1 class="title-text">Loggerino</h1>
<div class="page green">
    <div class="page-container">
        <div id="status" class="red">Disconnected</div>
        <div id="data">
            {% for line in log_buffer %}
                <p>{{ line }}</p>
            {% endfor %}
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
{#<script type="text/javascript" src="http://nadir.space:5000/application.js"></script>#}
<script type=text/javascript>
    {#    var jug = new Juggernaut();#}

    {#    jug.subscribe('logger', function(data) {#}
    {#        $data.append($('<p/>').text(data));#}
    {#        $data.scrollTop($data[0].scrollHeight);#}
    {#    });#}
    var $status = $('#status');
    var $data = $('#data');

    var source = new EventSource("/logstream");
{#        source.addEventListener('log', function (data) {#}
{#            var data = JSON.parse(event.data);#}
{#            console.log(data);#}
{#            $data.append($('<p/>').text(data));#}
{#            $data.scrollTop($data[0].scrollHeight);#}
{#        }, false);#}
    source.onmessage = function (e) {
        console.log(e.data);
{#        console.log("test");#}
        $data.append($('<p/>').text(e.data));
        $data.find("p:first").remove();
        $data.scrollTop($data[0].scrollHeight);
        window.scrollTo(0, document.body.scrollHeight);
    };
    source.addEventListener('open', function () {
        $status.removeClass('red');
        $status.text('Connected');
        $status.addClass('green');
    });
    $(window).on('beforeunload', function () {
        source.close();
    });
    {#    jug.on('connect', function () {#}
    {#        $status.removeClass('red');#}
    {#        $status.text('Connected');#}
    {#        $status.addClass('green');#}
    {#    });#}

    // always align the scrollbar to the bottom of the data div
    $data.scrollTop($data[0].scrollHeight);


</script>
</html>
