<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="https://www.google.com/jsapi?fake=.js"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename = 'js/trusted-data.js') }}"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{#<script async src="//jsfiddle.net/nvtLecmb/2/embed/"></script>#}
<div id="dashboard_div" style="width: 100vw; height: 100vh;">
    <div id="filter_div"></div>
    <div id="chart_div" style="width: 100vw; height: 100vh;"></div>

</div>


</body>
</html>